﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ComputerGarage</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @*@{
        var authResult = await AuthorizationService.AuthorizeAsync(User, null, ComputerGarage.Security.Policies.Employee);
        var adminResult = await AuthorizationService.AuthorizeAsync(User, null, ComputerGarage.Security.Policies.Administrator);
    }*@
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">ComputerGarage</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li asp-authorize="true" asp-roles="Customer"><a asp-area="" asp-controller="Client" asp-action="OpenRepairRequestListPage">Remonto užklausos</a></li>
                    <li asp-authorize="true" asp-roles="Customer"><a asp-area="" asp-controller="Client" asp-action="OpenOrderListPage">Remonto užsakymai</a></li>
                    <li asp-authorize="true" asp-roles="Employee"><a asp-area="" asp-controller="Repair" asp-action="GetEquipmentPage">Registruoti gautą įrangą</a></li>
                    <li asp-authorize="true" asp-roles="Administrator"><a asp-area="" asp-controller="Admin" asp-action="Open">Administratoriaus langas</a></li>
                    <li asp-authorize="true" asp-roles="Customer"><a asp-area="" asp-controller="EditProfile" asp-action="OpenEditProfilePage">Redaguoti profilį</a></li>
                    <li asp-authorize="true" asp-roles="Employee"><a asp-area="" asp-controller="Email" asp-action="OpenEmailPage">Siųsti el. laišką</a></li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li asp-authorize="false"><a asp-area="" asp-controller="Home" asp-action="Login">Prisijungti</a></li>
                    <li asp-authorize="false"><a asp-area="" asp-controller="Register" asp-action="OpenRegisterPage">Registruotis</a></li>
                    <li asp-authorize="true"><a asp-area="" asp-controller="Home" asp-action="Logout">Atsijungti</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @Html.ErrorMessage()
        @Html.SuccessMessage()

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - ComputerGarage</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
