﻿@model IEnumerable<ComputerGarage.Models.RepairOrder>


<h2>Remonto užsakymai</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.State)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RepairPrice)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RepairPrice)
            </td>
            <td>
                @Html.ActionLink("Atidaryti", "GetOrderPage", new { @id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
