﻿@model ComputerGarage.ViewModels.RepairRequestCreateViewModel

<h4>Remonto užklausos kūrimas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EnterRequestData">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="MalfunctionDescription" class="control-label"></label>
                <input asp-for="MalfunctionDescription" class="form-control" />
                <span asp-validation-for="MalfunctionDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComputerName" class="control-label"></label>
                <input asp-for="ComputerName" class="form-control" />
                <span asp-validation-for="ComputerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Pateikti" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="OpenRepairRequestListPage">Grįžti į sąrašą</a>
</div>

