﻿@model ComputerGarage.Models.RepairOrder


<div>
    <h4>Remonto užsakymas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RepairPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RepairPrice)
        </dd>
    </dl>
</div>
<div>
    @if (Model.State == ComputerGarage.Models.States.RepairOrderState.Created)
    {
        <form asp-action="ConfirmOrder" method="post" >
            @Html.HiddenFor(m => m.Id)
            <button class="btn btn-success">Patvirtinti</button>
        </form>
    }
    |
    <a asp-action="OpenOrderListPage">Grįžti į sąrašą</a>
</div>