﻿@model IEnumerable<ComputerGarage.Models.RepairRequest>


<a asp-action="OpenRepairRequestNewPage">Kurti naują</a>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.State)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MalfunctionDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ComputerName)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MalfunctionDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComputerName)
            </td>
            <td>

            </td>
        </tr>
}
    </tbody>
</table>
