﻿
<form method="post" asp-action="Register">
    <div>
        <label>Vardas</label>
        <input type="text" name="firstName" />
    </div>
    <div>
        <label>Pavardė</label>
        <input type="text" name="lastName" />
    </div>
    <div>
        <label>El. paštas</label>
        <input type="email" name="email" />
    </div>
    <div>
        <label>Slaptažodis</label>
        <input type="password" name="password" />
    </div>
    <div>
        <label>Slaptažodžio pakartojimas</label>
        <input type="password" name="password2" />
    </div>
    <div>
        <input type="submit" />
    </div>
</form>

<div asp-validation-summary="All"></div>