﻿@model List<SelectListItem>

<h1>Gautos įrangos registravimas</h1>
<br>
<div>
    <form asp-action="RegisterReceivedEquipment" method="post">
        <div class="form-group">
            @Html.DropDownList("id", Model)
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Registruoti įrangą</button>
        </div>
    </form>
</div>