﻿@{

}

LOGIN

<form method="post">
    <div>
        <label>User name</label>
        <input type="text" name="username" />
    </div>
    <div>
        <label>Password</label>
        <input type="password" name="password" />
    </div>
    <div>
        <input type="submit" />
    </div>
</form>

<div asp-validation-summary="All"></div>