﻿
<form asp-action="Send" method="post">
    <div class="form-group">
        <label for="toEmail">El. laiško gavėjas</label>
        <input type="text" name="toEmail" required />
    </div>
    <div class="form-group">
        <label for="toEmail">Tekstas</label>
        <input type="text" name="text" required />
    </div>
    <div class="form-group">
        <input type="submit" value="Siųsti" class="btn btn-default" />
    </div>
</form>
