﻿
@{
    ViewData["Title"] = "AdminWorkersPage";
}


<h2>Administratoriaus darbuotojus</h2>
<hr />
<div>
    <input type="button" value="Kurti darbuotoją" onclick="location.href='@Url.Action("OpenCreate", "Admin")'" />
    <hr />
    <input type="button" value="Šalinti darbuotoją" onclick="location.href='@Url.Action("OpenDeleteWorker", "Admin")'" />
    <hr />
    <input type="button" value="Redaguoti darbuotoją" onclick="location.href='@Url.Action("OpenSearch", "Admin")'" />
</div>