﻿
@{
    ViewData["Title"] = "AdminCustomersPage";
}

<h2>Administratori darbuotojus</h2>
<hr />
<div>
    <input type="button" value="Šalinti užsakovą" onclick="location.href='@Url.Action("openDeleteCustomer", "Admin")'" />
    <hr />
    <input type="button" value="Redaguoti užsakovą" onclick="location.href='@Url.Action("OpenDeleteWorker", "Admin")'" />
</div>

