﻿
@{
    ViewData["Title"] = "Administratoriaus langas";
}

<h2>Administratoriaus langas</h2>
<hr />
<div>
    <input type="button" value="Administruoti darbuotojus" onclick="location.href='@Url.Action("OpenWorkersPage", "Admin")'" />
    <hr />
    <input type="button" value="Administruoti užsakovus" onclick="location.href='@Url.Action("OpenCustomersPage", "Admin")'" />
    <hr />
    <input type="button" value="Generuoti remonto užsakymų suvestinę" onclick="location.href='@Url.Action("Open", "Admin")'" />
</div>