﻿
@{
    ViewData["Title"] = "Kurti darbuotoją";
}

<h2>Kurti darbuotoją</h2>

<form method="post" asp-action="createWorker">
    <div>
        <label>Vardas</label>
        <input type="text" name="name" />
    </div>
    <div>
        <label>Pavardė</label>
        <input type="text" name="surename" />
    </div>
    <div>
        <label>Email</label>
        <input type="email" name="email" />
    </div>
    <div>
        <label>Password</label>
        <input type="password" name="password" />
    </div>
    <div>
        <label>Repeat password</label>
        <input type="password" name="password2" />
    </div>
    <div>
        <input type="submit" value="Patvirtinti" />
    </div>
</form>
<div asp-validation-summary="All"></div>