﻿
@{
    ViewData["Title"] = "AdminEditWorkerPage";
}

<h2>Redaguoti darbuotoją</h2>

<form method="post" asp-action="editData">
    <div>
        <label>Vardas</label>
        <input type="text" value=@Model.UserProfile.FirstName name="name" />
    </div>
    <div>
        <label>Pavardė</label>
        <input type="text" value=@Model.UserProfile.LastName name="surename" />
    </div>
    <div>
        <input type="submit" value="Patvirtinti" />
    </div>
</form>
<div asp-validation-summary="All"></div>