﻿
@{
    ViewData["Title"] = "DeleteUserPage";
}

<h2>Šalinti darbuotoją</h2>

<form method="post" asp-action="workerUserName">
    <div>
        <label>Darbuotojo el. paštas:</label>
        <input type="email" name="username" />
    </div>
    <div>
        <input type="submit" value="Šalinti" />
    </div>
</form>
<div asp-validation-summary="All"></div>

