﻿
@{
    ViewData["Title"] = "Šalinti užsakovą";
}

<h2>Šalinti užsakovą</h2>

<form method="post" asp-action="customerUserName">
    <div>
        <label>Užsakovo el. paštas:</label>
        <input type="email" name="username" />
    </div>
    <div>
        <input type="submit" value="Šalinti" />
    </div>
</form>
<div asp-validation-summary="All"></div>

