﻿
@{
    ViewData["Title"] = "FindUserPage";
}

<h2>Redaguoti darbuotoją/Darbuotojo paieška</h2>

<form method="post" asp-action="enterName">
    <div>
        <label>Darbuotojo el. paštas:</label>
        <input type="email" name="username" />
    </div>
    <div>
        <input type="submit" value="Redaguoti" />
    </div>
</form>
<div asp-validation-summary="All"></div>


